@import "../Colors.scss";

.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    color: $text-color;
    font-weight: 900;
  }
}

.login-btn {
  width: 100%;
}

.link {
  margin-top: 1em;
  text-decoration: none;
}

p {
  color: $text-color;
  margin-top: 1em !important;
}
